.social__login
    button.social-login--GitHub
        .github-header
            a(href=routes.gitHub)
                span
                    i.lni.lni-github-original 
                | Continue with GitHub
    button.social-login--Facebook 
        .facebook-header
            a(href=routes.facebook)
                span 
                    i.lni.lni-facebook-original
                | Continue with Facebook