extends layouts/main

block content 
    .form__container 
        form(action=`/users${routes.editProfile}`, method="post", enctype="multipart/form-data")
            .fileupload
                label(for="Avatar") Avatar 
                input(type="file", id="Avatar", name="Avatar", accept="Image/*")
            input(type="text", placeholder="Name", name="name", value=loggedUser.name)
            input(type="email", placeholder="Email", name="email", value=loggedUser.email)
            input(type="submit", value="Update Profile")
